PUBLIC_HOST=esd-g06-t05.eastasia.cloudapp.azure.com
GRAFANA_ROOT_URL=https://esd-g06-t05.eastasia.cloudapp.azure.com/grafana/
GRAFANA_SERVE_FROM_SUB_PATH=true
PROMETHEUS_EXTERNAL_URL=https://esd-g06-t05.eastasia.cloudapp.azure.com/prometheus/
JAEGER_BASE_PATH=/jaeger
